
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FastReport Blazor Demo</a>
</div>

<div>
    <ul class="nav flex-column">
        @foreach (var folder in Groups)
        {
            <li class="nav-item px-2">
                <a class="nav-item px-2" style="cursor: pointer;" title="@folder.Description" @onclick="() => FolderClick(folder)">
                    @(folder.Hiden ? "> " : "v ") @folder.FolderName
                </a>
                <ul class="nav flex-column" hidden="@folder.Hiden">
                    @foreach (var report in folder.Reports)
                    {
                        <li class="nav-item px-2">
                            <NavLink class="nav-link" href="@report.File">
                                @report.FileName
                            </NavLink>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>

@code {
}
